h1 {
	text-align: center;
}

.buildingslist {
	text-align: center;
}

.resourcelist {
	text-align: left

}

h3 {
	text-align: center;

}

.resourcename {
	padding: 10px;
	display: inline;
}

.resourcename::before {
	content: "\A";
	white-space: pre;
}

.buildingname::before {
	content: "\A";
	white-space: pre;
}