html {
	margin: auto;
	padding: 50px;
	background: lightgray;
}

body {
	display: grid;
	grid-template-columns: 300px auto 300px;
	grid-template-rows: auto;
	gap: 40px;
	background: lightgray
}

h1 {
	text-align: center;
	background: grey;
	grid-column: 1/4;
	grid-row: 1;
}


textarea {
	height: auto;
	width: auto;
	grid-column: 3;
	grid-row: 2/4; 	
}

.buildingsblock{
	grid-column: 2/3;
	grid-row: 2/4;
}

.buildingslist{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 20px;
}

.resourcelist {
	text-align: left;
	background: grey;
	grid-column: 1;
	grid-row: 2;

}

.dogjoblist {
	background: grey;
	grid-column: 1;
	grid-row: 3;
}

h2 {
	text-align: center;
	background: grey;
	grid-column: 1/4;
	grid-row: 4;

}





.buildingsblock{
	text-align: left;
}


.buildingsblock.buildingslist{
	text-align: left;
}

.buildingsblock::after {
	content: "\A \A";
	white-space: pre;
}

.buildingbutton {
	float: right;
}
.buildingcost {
	float: left
}
.buildingdescription::after {
	content: "\A \A";
	white-space: pre;
}
.buildingdescription::before {
	content: "\A";
	white-space: pre;
}

.buildingname {
	display: flex;
	justify-content: space-between;
}





.resourcename:not(.Dogs)::after {
	content: "\A";
	white-space: pre;
}

.resourcevalue:not(.TotalDogs)::after {
	content: "\A";
	white-space: pre;
}

.resourcepersecond {
	padding-left: 15px;
}








.dogjobitem { 	
	display: flex;
	justify-content: space-between;
}

.card-body.dogjobitem { 	
	padding: 10px 10px 10px 10px;
}

.dogjobvalue::after {
	content: "\A";
	white-space: pre;
}



.dogjobbutton {
	width: 50px;
	height: 30px;
	margin: auto;
	padding: 2px 2px 2px 2px;
	text-align: center;
}